<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero impedit iure quae itaque officia? Distinctio reiciendis sint fuga recusandae ratione adipisci, labore ex est, velit veritatis amet, vel modi maxime.</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut minima voluptatibus ex unde at quisquam officia, totam cum fuga, quibusdam, voluptatem cupiditate. Obcaecati recusandae harum fugit? Consequatur adipisci saepe atque.</p>
</body>
</html>